@use "../../scss/abstracts/" as *;

.topNav {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 4rem;

  &_left {
    @include flex(center, flex-start);
    flex-wrap: wrap;
    flex: 1;

    &_menu_icon {
      cursor: pointer;

      @include tablet {
        display: none;
      }
    }

    &_menu {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &_right {
    flex: 1;
  }
}