$fontSizeBodySmall: 12px;
$fontSizeBodyMedium: 14px;
$fontSizeBodyLarge: 16px;

$fontSizeHeadlineSmall: 24px;
$fontSizeHeadlineMedium: 45px;
$fontSizeHeadlineLarge: 57px;

$fontSizeDisplaySmall: 64px;

$fontSizeTableStatus: 9px;

$mainBoxShadow: 0 6px 30px 5px rgba(0, 0, 0, 0.12);
$secondBoxShadow: -3px 6px 30px 5px rgba(0, 0, 0, 0.3);

$smallBorderRadius: 8px;
$mediumBorderRadius: 12px;
$largeBorderRadius: 20px;

$smallIconSize: 20px;
$largeIconSize: 48px;

$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$largeDesktop-width: 1200px;

$sideBarOpenWidth: 230px;
$sideBarCloseWidth: 75px;
$spacing: 60px;
$mobileSpacing: 16px;
$sideBarLogoHeight: 171px;