@use "../../scss/abstracts/" as *;
@use "sass:math";

.sidebar {
  @include flex(stretch, center);
  flex-direction: column;
  background-color: var(--bgc);
  color: var(--text-color) !important;
  width: $sideBarOpenWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;

  &.sidebar_close {
    width: 50px;

    @include tablet {
      width: 100%;
    }
  }

  @include tablet {
    width: 100vw;
    z-index: 1;
    background-color: #283036;
    color: #ebebeb !important;
  }

  &__logo {
    width: $sideBarLogoHeight;
    text-align: center;
    padding: 0 12px 2rem;

    img {
      --size: 7.5rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    @include tablet {
      padding-top: 1rem;
    }

    @include mobile {
      padding-top: 0.5rem;
    }
  }

  &__menu {
    @include flex(stretch, flex-start);
    flex-direction: column;
    flex-grow: 1;

    &__item {
      @include flex(center, flex-start);
      position: relative;
      margin-bottom: 2rem;
      padding-left: 16px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--primaryColor);
      }

      &.active {
        font-weight: 700;
        color: var(--primaryColor);
        padding-left: 20px;

        &::before {
          content: "";
          width: 4px;
          height: 100%;
          background-color: var(--primaryColor);
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      &__icon {
        @include flex(center, center);
        margin-right: 1rem;

        svg {
          width: $smallIconSize;
          height: $smallIconSize;
        }
      }

      &__txt {
        white-space: nowrap;
      }
    }
  }
}

.logout {
  align-self: flex-end;
}

.hideLogo {
  visibility: hidden;
}